<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
      <navbar></navbar>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <div id="header" class="mdl-layout__header-row" ng-hide="true">
        <a href="#" id="menutoggle" class="menutoggle">
          <i class="material-icons">menu</i>
        </a>
      </div>

      <drive multiple-selection-zone ng-show="checkMainTab(0)"></drive>
      <share multiple-selection-zone ng-show="checkMainTab(1)"></share>
      <trash multiple-selection-zone ng-show="checkMainTab(2)"></trash>

    </div>
  </main>
</div>
