<md-dialog aria-label="Lista Arquivo" flex="50">
  <form>
    <h5 class="dialog-title">Arquivo: {{file.name}}</h5>
    <md-dialog-content>
      <md-subheader class="md-no-sticky">Informações do Arquivo</md-subheader>

      <md-list>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3> {{ file.name }}.{{ file.extension.split('/')[1] }} </h3>
            <p> Nome do Arquivo </p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3> {{ file.updated_at | date}}  </h3>
            <p> Ultima Modificação </p>
          </div>
        </md-list-item>
      </md-list>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary" ng-click="cancel()">
        Fechar
      </md-button>
      <span flex></span>
      <md-button class="md-primary" ng-click="answer()">
        Descompactar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
