<div id="pagination">
	<span class="pagination-item" ng-repeat="item in pagination track by $index">
		<a ng-click="setPagination($index)">
			{{ item.name }}
			<i class="material-icons" ng-if="showArrow($index)">keyboard_arrow_down</i>
		</a>
		<i class="material-icons" ng-if="!showArrow($index)">keyboard_arrow_right</i>
	</span>
</div>


<div class="panel delete-all" ng-show="!driveIsEmpty()">
	<span class="mdl-grid drive-item drive-item-header">
			<button ng-click="moveSelectedItems()" ng-show="selectedItems.length > 1" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
				<i class="material-icons">delete_forever</i>
				Mover os itens selecionados para a lixeira
			</button>
	</span>
</div>

<div ng-show="driveIsEmpty()">
  <div class="layout-transparent empty-list mdl-layout mdl-js-layout">
    <main>
      <img class="empty-logo" src="imgs/logo.png"/>
    </main>
    <span class="empty-text">Você não possui nenhum arquivo criado na pasta {{ currentFolder.name }}. </span>
  </div>
</div>

<!-- container do drive -->
<div id="drive" class="panel" ng-show="!driveIsEmpty()"  ng-mouseover="checkSelectedItems()">
	<!-- header da lista de arquivos -->
	<span class="mdl-grid drive-item drive-item-header">
		<span ng-repeat="property in gridHeaderDrive" class="mdl-cell mdl-cell--{{ property.col }}-col">
			<i class="material-icons">{{ property.icon }}</i>
			{{ property.name }}
		</span>
	</span>

	<!-- lista de arquivos dentro da pasta atual sendo visitada -->
	<span class="mdl-grid drive-item" ng-repeat="item in contents track by $index" multiple-selection-item
		ng-class="{'selecting-item': isSelecting && item.type === 'file' ,'selected-item': isSelected && item.type === 'file' }"
			ng-click="fileAction($event, item)">

		<span class="mdl-cell mdl-cell--5-col">
			<i class="material-icons">{{ getIcon(item) }}</i>
			{{ item.name }}<span ng-show="item.type === 'file'">.{{ item.extension.split('/')[0]}}</span>
		</span>
		<span class="mdl-cell mdl-cell--5-col">{{ item.updated_at | date}}</span>
		<span class="mdl-cell mdl-cell--2-col">
				<a ng-click="shareFileDialog($event, item)" ng-show="item.extension === 'txt' || item.extension === 'md'">
					<span><i class="material-icons">share</i></span>
					<md-tooltip>Compartilhar</md-tooltip>
				</a>
				<a ng-click="renameItemDialog($event, item)" >
					<span ><i class="material-icons">edit</i></span>
					<md-tooltip>Renomear</md-tooltip>
				</a>
				<a ng-click="compressFileDialog($event, item)" ng-show="item.extension === 'txt' || item.extension === 'md'">
					<span><i class="material-icons">archive</i></span>
					<md-tooltip>Compactar</md-tooltip>
				</a>
				<a ng-click="decompressFileDialog($event, item)" ng-show="item.extension.split('/')[0] === 'zip' || item.extension.split('/')[0] === 'gz'">
					<span><i class="material-icons">unarchive</i></span>
					<md-tooltip>Descompactar</md-tooltip>
				</a>
				<a ng-click="deleteFileDialog($event, item)" ng-show="item.type === 'file'">
					<span><i class="material-icons">delete</i></span>
					<md-tooltip>Mover para Lixeira</md-tooltip>
				</a>
		</span>
	</span>
</div>

<div class="info-box" ng-show="!driveIsEmpty()">
	<li class="info-text">Para selecionar múltiplos itens use o <b>Ctrl</b></li>
	<li class="info-text">Para excluir os itens selecionados use o <b>Ctrl</b></li>
</div>

<div class="mdl-button__footer">
	<button ng-click="createFileDialog($event)" class="mdl-button mdl-button--fab mdl-button--colored mdl-button_ofleft">
		<i class="material-icons">note_add</i>
		<md-tooltip md-direction="top">Novo documento</md-tooltip>
	</button>
	<button ng-click="createFolderDialog($event)" class="mdl-button mdl-button--fab mdl-button--colored">
		<i class="material-icons">create_new_folder</i>
		<md-tooltip md-direction="top">Nova pasta</md-tooltip>
	</button>
</div>
